{% extends 'base.html.twig' %}

{% block title %}Création compte{% endblock %}

{% block body %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
                    <form method="post">
                        {{ form_start(registrationForm) }}
                            <div class="post-entry text-center">
                                <h1 class="h1 mb-4 font-weight-normal">Créez un compte</h1>
                                <p>Bénéficiez d’une expérience inégalée avec du contenu en lien avec vos centres d’intérêt qu'est la moto sur notre service.</p>                    
                            </div> 

                            <div class="col-12 mb-3">
                                {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="row">
                                <div class="col-6 mb-3">
                                    {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="col-6 mb-3">
                                    {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="col-12 mb-3">
                                {{ form_row(registrationForm.password.first, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="col-12 mb-3">
                                {{ form_row(registrationForm.password.second, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            
                            <div class="col-12 mb-3">
                                {{ form_row(registrationForm.pseudo, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            
                            <div class="col-12 mb-3">
                                {{ form_row(registrationForm.agreeTerms, { label: 'Veuillez agréer aux termes utilisateurs', 'attr': {'class': 'checkbox-control col-1'}}) }}
                            </div>

                            <button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
                        {{ form_end(registrationForm) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
