{% extends 'base.html.twig' %}

{% block title %}Detail moto{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="h1 mb-4 font-weight-normal">{{moto.marque}} - {{moto.modele}} | {{moto.cylindre}}</h1>
            <div class="row blog-entries element-animate">
                <div class="col-md-12 col-lg-8 main-content">
                    <div class="post-content-body">
                        <div class="row my-4">
                            <div class="col-md-12 mb-4">
                                <img src="{{ asset('uploads/images/moto/' ~ moto.image) }}" alt="Image placeholder" class="img-fluid rounded">
                            </div>
                        </div>
                        <p>{{ moto.article }}</p>
                    </div>

                    <!-- Catégories et Tag -->
                    <div class="pt-5">
                        <p>Categories:  <a href="{{ path('homepage', {type: "type", filter: moto.type }) }}">{{moto.type}}</a>  Tags: <a href="{{ path('homepage', {type: "cylindre", filter: moto.cylindre }) }}">#{{moto.cylindre}}</a>, <a href="{{ path('homepage', {type: "marque", filter: moto.marque }) }}">#{{moto.marque}}</a></p>
                    </div>
                    
                    <!-- Zone commentaires -->
                    <div class="pt-5 comment-wrap">
                        {% if comments|length > 1 %}
                            <h3 class="mb-5 heading">{{ comments|length }} Commentaires</h3>
                        {% else %}
                            <h3 class="mb-5 heading">{{ comments|length }} Commentaire</h3>
                        {% endif %}
                        <!-- Commentaire -->
                        <ul class="comment-list">
                            {% for comment in comments %}
                                <li class="comment">
                                    <div class="vcard">
                                        <img src="{{ asset('uploads/images/pp/' ~ comment.userComments.id ) }}" alt="Image">
                                    </div>
                                    <div class="comment-body">
                                        <h3>{{ comment.userComments }}</h3>
                                        <div class="meta">{{ comment.date.format('d F, Y h:m') }}</div>
                                        <p>{{ comment.texte }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        <!-- Form Commentaire -->
                        <div class="comment-form-wrap pt-5">
                            <h3 class="mb-2">Laisser un commentaire</h3>
                            <form method="post" action="#" class="p-4 bg-light">
                                {% if app.user %}
                                    <form method="post">
                                        {{ form_start(MessageForm) }}
                                            <div class="form-group">
                                                    <label for="message">Message</label>
                                                    {{ form_widget(MessageForm.texte) }}                                                               
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Poster Message" class="btn btn-primary">
                                            </div>
                                        {{ form_end(MessageForm) }}
                                    </form>
                                {% else %}
                                    <div class="row">
                                        <div class="col-4 mb-3">
                                            <a href="{{ path('app_login') }}" class="btn btn-lg btn-primary">Se connecter</a>
                                        </div>
                                        <div class="col-4 mb-3">
                                            <a href="{{ path('app_register') }} " class="btn btn-lg btn-primary">S'inscrire</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
