<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Base{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('assets/fonts/icomoon/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/fonts/flaticon/font/flaticon.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/tiny-slider.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/aos.css') }}">        
        <link rel="stylesheet" href="{{ asset('assets/css/glightbox.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/flatpickr.min.css') }}">

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include 'prefabs/navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block end_body %}
            <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('assets/js/tiny-slider.js') }}"></script>
            <script src="{{ asset('assets/js/flatpickr.min.js') }}"></script>
            <script src="{{ asset('assets/js/aos.js') }}"></script>
            <script src="{{ asset('assets/js/glightbox.min.js') }}"></script>
            <script src="{{ asset('assets/js/navbar.js') }}"></script>
            <script src="{{ asset('assets/js/counter.js') }}"></script>
            <script src="{{ asset('assets/js/custom.js') }}"></script>
        {% endblock %}
    </body>
</html>
